//BEM convention
//[namespace]-[block]__[element]--[modifier]
//See https://seesparkbox.com/foundry/bem_by_example for details
//Mobile Nav - any styles pertaining to the mobile menu and nav go here
.#{$namespace}-mobile-nav {
    position: fixed;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
    backface-visibility: hidden;
    background: $ig-dark-blue;
    top: 0;
    height: 100%;
    overflow-y: auto;

    &.is-transition-overlap {
        z-index: 10;
    }

    &.is-transition-overlap.is-open {
        box-shadow: 0 0 10px $ig-mobile-nav-boxshadow;
    }

    &.is-transition-overlap.is-open~.off-canvas-content {
        transform: none;
    }

    &.is-open {
        transform: translate(0, 0);
    }

    &.is-transition-push::after {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 1px;
        box-shadow: 0 0 10px $ig-mobile-nav-boxshadow;
        content: " ";
    }
}

[data-whatinput='mouse'] .#{$namespace}-mobile-nav {
    outline: 0;
}

.#{$namespace}-mobile-nav__inner {
    padding: 1rem;
}

.#{$namespace}-mobile-nav__menu {
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    flex-wrap: wrap;
}

.#{$namespace}-mobile-nav__menu>li {
    flex: 0 0 auto;
}

[data-whatinput='mouse'] .#{$namespace}-mobile-nav__menu>li {
    outline: 0;
}

.#{$namespace}-mobile-nav__menu>li>a {
    display: block;
    line-height: 1;
    border-bottom: 1px solid rgba(red($ig-blue), green($ig-blue), blue($ig-blue), 0.25);
}

.#{$namespace}-mobile-nav__menu input,
.#{$namespace}-mobile-nav__menu select,
.#{$namespace}-mobile-nav__menu a,
.#{$namespace}-mobile-nav__menu button {
    margin-bottom: 0;
}

.#{$namespace}-mobile-nav__menu > li {
    flex: 0 0 100%;
    max-width: 100%;
}

.#{$namespace}-mobile-nav__menu>li>a {
    font-family: $ig-whitney-semibold;
    font-size: $ig-font-size--base;
    text-transform: uppercase;

    padding: $ig-space--small 0;

    align-items: flex-start;
    justify-content: flex-start;

    svg {
        fill: $ig-white;
    }
}

.#{$namespace}-mobile-nav__menu a {
    color: $ig-white;
}

.#{$namespace}-mobile-nav__menu a:hover {
    color: $ig-white;
}

.#{$namespace}-mobile-nav__close {
    color: $ig-white;
    font-family: $ig-whitney-semibold;
    font-size: $ig-font-size--base;
    text-transform: uppercase;
    width: 50px;
    height: 50px;

    svg {
        fill: $ig-white;
    }
}

.#{$namespace}-mobile-nav__close-icon {
    position: relative;
    top: -3px;
    left: 3px;
}

.#{$namespace}-mobile-nav__close:hover {
    color: $ig-white;
}

.#{$namespace}-mobile-nav__profile {
    color: $ig-white;
    font-family: $ig-whitney-book;
    height: 50px;
    padding-top: $ig-space--xx-small;

    svg {
        fill: $ig-white;
    }
}

.#{$namespace}-mobile-nav__username,
.#{$namespace}-mobile-nav__menu-text {
    padding-left: $ig-space--xx-small;
    position: relative;
    top: $ig-space--xxx-small;
} //Left nav specific styling
.#{$namespace}-mobile-nav__left {
    left: 0;
    width: $ig-mobile-nav-left-width;
    transform: translateX(-100%);
}

.#{$namespace}-mobile-nav__left.is-open~.off-canvas-content {
    transform: translateX(100%);
} //Right nav specific styling
.#{$namespace}-mobile-nav__right {
    right: 0;
    width: $ig-mobile-nav-right-width;
    transform: translateX(100%);
}

.#{$namespace}-mobile-nav__right.is-open~.off-canvas-content {
    transform: translateX(0);
}