// page level
.comm-page-error,
.comm-page-custom-error-503 {
    background-color: #FFF;

    .cClient_Portal_Theme_Layout {
        height: 100%;
        overflow: hidden;
    }
}

// headings
.#{$namespace}-heading--large {
    color: $ig-dark-blue;
}

.#{$namespace}-page-heading {
    font-size: 36px;

    @include for-phone-only {
        font-size: 20px;
    }
}

.cPage_GoalDetails {
    .slds-form-element {
        padding-bottom: 20px;
    }

    .slds-form-element__group {
        padding-top: 20px;
    }
}