// page level
.comm-page-error,
.comm-page-custom-error-503 {
    background-color: #FFF;

    .cClient_Portal_Theme_Layout {
        height: 100%;
        overflow: hidden;
    }
}

// headings
.#{$namespace}-heading--large {
    color: $ig-dark-blue;
}

.#{$namespace}-page-heading {
    font-size: 36px;

    @include for-phone-only {
        font-size: 20px;
    }
}

.cPage_GoalDetails {
    .slds-form-element {
        padding-bottom: 20px;
    }

    .slds-form-element__group {
        padding-top: 20px;
    }
}

// IPQ
.cPage_IPQ {

    h2 {
        color: $ig-black;
        font-weight: 700;
    }

    .slds-form-element .slds-form-element__label {
        width: 100%;
        font-size: $ig-font-size--medium;
        font-weight: 400;
    }

    p {
        font-size: $ig-font-size--medium;
    }

    .slds-form-element__control {
        margin: 0 auto;
    }

    .slds-checkbox_button {
        border: 1px solid $ig-tile-grey;
        min-height: 40px;
        width: 350px;
        margin: 10px 0;
        font-family: $ig-whitney-book;
        line-height: 18px;
        font-size: $ig-font-size--mini;
        padding: 14px 32px;
    }

    .slds-button {
        color: $ig-black;
    }

    .slds-checkbox--button [type=checkbox]:checked+.slds-checkbox--button__label,
    .slds-checkbox--button [type=checkbox]:checked+.slds-checkbox--faux,
    .slds-checkbox--button [type=checkbox]:checked+.slds-checkbox_button__label,
    .slds-checkbox--button [type=checkbox]:checked+.slds-checkbox_faux,
    .slds-checkbox--button [type=checkbox]:checked~.slds-checkbox--faux,
    .slds-checkbox--button [type=checkbox]:checked~.slds-checkbox_faux,
    .slds-checkbox_button [type=checkbox]:checked+.slds-checkbox--button__label,
    .slds-checkbox_button [type=checkbox]:checked+.slds-checkbox--faux,
    .slds-checkbox_button [type=checkbox]:checked+.slds-checkbox_button__label,
    .slds-checkbox_button [type=checkbox]:checked+.slds-checkbox_faux,
    .slds-checkbox_button [type=checkbox]:checked~.slds-checkbox--faux,
    .slds-checkbox_button [type=checkbox]:checked~.slds-checkbox_faux {
        background: none;
        border: 2px solid $ig-secondary;
        color: $ig-black;
        // webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }
}