//Breakpoints - this file is for breakpoint styling that target elements only, any class specific styling should be put in the breakpoints file in the igforms folder.
//Small
@media (min-width: $ig-small) {
	h1 {
		font-size: $ig-font-size--medium-plus;
		line-height: $ig-line-height--medium-plus;
	}
}
//Medium
@media (min-width: $ig-medium) {

	h1 {
		font-family: $ig-whitney-light;
		font-size: $ig-font-size--large;
		line-height: $ig-line-height--large;
		text-transform: inherit;
		text-transform: initial;
	}

	h2 {
		font-family: $ig-whitney-light;
		font-size: $ig-font-size--medium-plus;
		line-height: $ig-line-height--medium-plus;
	}

	h3 {
		font-family: $ig-whitney-light;
		font-size: $ig-font-size--medium;
		line-height: $ig-line-height--medium;
		color: $ig-blue;
	}
}

//Large
@media (min-width: $ig-large) {}
