//Elements - elements styling only, class specific styles should be placed in the igforms folder.
body {
	position: fixed;
}

html {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	height: 100%;
	width: 100%;
	padding: 0;
	overflow: auto;
	margin: 0;
	-webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4 {
	color: $ig-blue;
}

h1 {
	font-family: $ig-whitney-book;
	font-size: $ig-font-size--medium-plus;
	line-height: $ig-line-height--base;
	letter-spacing: $ig-letter-spacing;
	text-transform: inherit;
	text-transform: initial;
}

h2 {
	font-family: $ig-whitney-book;
	font-size: $ig-font-size--medium;
	line-height: $ig-line-height--medium;
	text-transform: inherit;
	text-transform: initial;
	letter-spacing: $ig-letter-spacing;
}

h3 {
	font-family: $ig-whitney-book;
	font-size: $ig-font-size--medium;
	line-height: $ig-line-height--medium;
	text-transform: inherit;
	text-transform: initial;
}

h4 {
	font-family: $ig-whitney-book;
	font-size: $ig-font-size--base;
	line-height: $ig-line-height--base;
	text-transform: inherit;
	text-transform: initial;
}

p {
	font-family: $ig-whitney-book;
	font-size: $ig-font-size--base;
	letter-spacing: $ig-letter-spacing;
	line-height: $ig-line-height--base;
	margin: 0;
}

body {
	font-family: $ig-whitney-book;
	background-color: $ig-white;
	color: $ig-black; // background-image: url('../images/bg-tile.jpg');
	// background-repeat: repeat;
}

a {
	color: $ig-link-blue;
	text-decoration: none;
}

label {
	border: none;
}

[type=button],
[type=submit] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0.25rem;
}

dl {
	margin: 0;
	dt {
		font-weight: 100;
		line-height: 18px;
		margin-bottom: $ig-space--x-small;
	}
	dd {
		line-height: 18px;
		margin-bottom: $ig-space--x-small;
	}
}

table {
	width: 100%;
}