//Fonts - pretty self explanatory

@font-face {
	font-family: 'WhitneyBook';
	font-style: normal;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	src: url(~assets/fonts/whitney-book-webfont.woff2) format('woff2'),
		url(~assets/fonts/whitney-book-webfont.woff) format('woff'),
		url(~assets/fonts/whitney-book-webfont.ttf) format('truetype');
}

@font-face {
	font-family: 'WhitneySemiBold';
	src: url(~assets/fonts/whitney-semibold-webfont.woff2) format('woff2'),
		url(~assets/fonts/whitney-semibold-webfont.woff) format('woff'),
		url(~assets/fonts/whitney-semibold-webfont.ttf) format('truetype');
}

@font-face {
	font-family: 'WhitneyLight';
	font-style: normal;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	src: url(~assets/fonts/whitney-light-webfont.woff2) format('woff2'),
		url(~assets/fonts/whitney-light-webfont.woff) format('woff'),
		url(~assets/fonts/whitney-light-webfont.ttf) format('truetype');
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(~assets/fonts/MaterialIcons-Regular.woff2); /* For IE6-8 */
	src: local('Material Icons'), local('MaterialIcons-Regular'),
		url(~assets/fonts/MaterialIcons-Regular.woff2) format('woff2');
}
