@mixin fadeTo($amount: 1, $speed: 0.25s, $easeType: linear) {
	transition: opacity $speed $easeType;
	-moz-transition: opacity $speed $easeType;
	-webkit-transition: opacity $speed $easeType;
	opacity: $amount;
}

@mixin scaleTo($amount: 1, $speed: 0.25s, $easeType: linear) {
	transition: transform $speed $easeType;
	-moz-transition: transform $speed $easeType;
  -webkit-transition: transform $speed $easeType;
  transform: scale($amount);
  transition-duration: $speed;
}

@mixin widthTo($amount: 25%, $speed: 0.25s, $easeType: linear) {
  width: $amount;
	transition: width $speed $easeType;
	-moz-transition: width $speed $easeType;
  -webkit-transition: width $speed $easeType;
}

@mixin roundCorner($amount: 3px) {
	border-radius: $amount;
	/* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
	/* useful if you don't want a bg color from leaking outside the border: */
	background-clip: padding-box;
	/* Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+ */
}

@mixin boxShadow($hShadow: 0px, $vShadow: 1px, $blur: 0px, $spread: 3px, $color: $ig-grey) {
	-webkit-box-shadow: $hShadow $vShadow $blur $spread $color;
	/* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
	box-shadow: $hShadow $vShadow $blur $spread $color;
	/* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
}

@mixin verticalAlignCenter($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin horizontalAlignCenter($position: relative) {
  position: $position;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin transparentBG($color, $alpha)
{
  background-color: rgba(red($color), green($color), blue($color), $alpha);
}

@mixin arrowDown($size: 6px, $color: $ig-grey) {
  width: 0; 
  height: 0; 
  border-left: $size solid transparent;
  border-right: $size solid transparent;  
  border-top: $size solid $color;
}
