//NOTE: This file contains extended/modified/new slds classes to fill in missing gaps in the SLDS capabilities. For reference see: https://lightningdesignsystem.com/
.slds-icon_container {
	top: -3px;
	position: relative;
}

.slds-spinner--brand .slds-spinner__dot-a:after, .slds-spinner--brand .slds-spinner__dot-a:before, .slds-spinner--brand .slds-spinner__dot-b:after, .slds-spinner--brand .slds-spinner__dot-b:before, .slds-spinner--brand.slds-spinner:after, .slds-spinner--brand.slds-spinner:before, .slds-spinner_brand .slds-spinner__dot-a:after, .slds-spinner_brand .slds-spinner__dot-a:before, .slds-spinner_brand .slds-spinner__dot-b:after, .slds-spinner_brand .slds-spinner__dot-b:before, .slds-spinner_brand.slds-spinner:after, .slds-spinner_brand.slds-spinner:before {
	background-color: $ig-dark-blue;
}

.slds-spinner--brand.slds-spinner:before {
	background-color: $ig-dark-blue;
}

.slds-button {
	font-family: $ig-whitney-semibold;
	font-size: $ig-font-size--base;
	letter-spacing: $ig-letter-spacing;
	text-transform: capitalize;
}

.slds-button--brand {
	background-color: $ig-blue;
	color: #fff;

	&:hover {
		background-color: transparent;
		color: $ig-blue;
	}
}

.slds-button--brand[disabled] {
	&:hover {
		background: #e0e5ee;
		border-color: transparent;
		color: #fff;
	}
}

.slds-button--neutral {
	background-color: transparent;
	color: $ig-blue;

	&:hover {
		background-color: $ig-blue;
		color: $ig-white !important;
	}
}

.slds-form-element__label {
	font-family: $ig-whitney-semibold;
	font-size: $ig-font-size--base;
	letter-spacing: $ig-letter-spacing;

	&.input-label {
		position: relative;
		top: 3px;
		font-size: $ig-font-size--mini;
		margin-right: $ig-space--xxx-small;
		color: $ig-blue;

		span {
			font-family: $ig-whitney-book;
			color: $ig-black;
			margin-left: $ig-space--xx-small;
			margin-right: $ig-space--xx-small;
		}
	}
}


.uiInput.has-error {
	border: none;
}

.uiInput--select.select:not([multiple]),
.uiInput--select .select:not([multiple]) {
	padding-right: 32px;
	background-position-x: 106.5%;
}

.slds-input.has-error.uiInput.uiInputText.uiInput--input,
.slds-input.has-error.uiInput.uiInputSecret.uiInput--input {
	border: 1px solid $ig-system-error;
}

.slds-checkbox {

	.slds-form-element__label.input-label {
		font-family: $ig-whitney-book;
		font-size: $ig-font-size--base;
		line-height: $ig-line-height--base;
		top: 0;
	}

	.slds-checkbox--faux {
		border: 1px solid $ig-black;
	}
}

.slds-checkbox [type=checkbox]:checked+.slds-checkbox_faux:after,
.slds-checkbox [type=checkbox]:checked+.slds-checkbox--faux:after,
.slds-checkbox [type=checkbox]:checked~.slds-checkbox_faux:after,
.slds-checkbox [type=checkbox]:checked~.slds-checkbox--faux:after,
.slds-checkbox [type=checkbox]:checked+.slds-checkbox__label .slds-checkbox_faux:after,
.slds-checkbox [type=checkbox]:checked+.slds-checkbox__label .slds-checkbox--faux:after,
.slds-checkbox [type=radio]:checked+.slds-checkbox_faux:after,
.slds-checkbox [type=radio]:checked+.slds-checkbox--faux:after,
.slds-checkbox [type=radio]:checked~.slds-checkbox_faux:after,
.slds-checkbox [type=radio]:checked~.slds-checkbox--faux:after,
.slds-checkbox [type=radio]:checked+.slds-checkbox__label .slds-checkbox_faux:after,
.slds-checkbox [type=radio]:checked+.slds-checkbox__label .slds-checkbox--faux:after {
	border-bottom: 2px solid $ig-dark-blue;
	border-left: 2px solid $ig-dark-blue;
}

.slds-checkbox__label {
	border: none;
}

.slds-progress {

	max-width: 100%;

	.slds-progress__item {

		margin-bottom: 0;

		&.slds-is-completed .slds-progress__marker,
		&.slds-is-active .slds-progress__marker {
			background: $ig-dark-blue;
			border: none;
			color: $ig-white;
			box-shadow: none;
		}

		&.slds-is-completed .slds-progress__marker {
			background: $ig-white;
		}

		.slds-progress__marker {
			width: $ig-space--medium;
			height: $ig-space--medium;
			border: none;
			background: $ig-dark-grey;
			cursor: auto;
		}
	}

	.slds-progress-bar__value {
		background: $ig-dark-grey;
	}

	.slds-icon-text-default {
		fill: $ig-white;
	}

	.slds-icon {
		width: $ig-space--medium;
		height: $ig-space--medium;
	}

	.slds-icon-utility-success {
		svg {
			fill: $ig-dark-blue;
		}
	}
}

.slds-card {
	.slds-icon_container {
		&.slds-icon-standard-person-account {
			left: -10px;
		}
	}
}

.slds-notify_toast {
	margin: 0;
	min-width: 100%;
}

.slds-media {
	&.slds-media__figure {
		margin: 0;
	}
}

.PHONE.uiContainerManager.siteforcePanelsContainer {
  display: none;
}

//FIREFOX
@-moz-document url-prefix() {
	.slds-media__figure {
		margin-right: $ig-space--small;
	}
}
