//NOTE: This file contains extended/modified/new slds classes to fill in missing gaps in the SLDS capabilities. For reference see: https://lightningdesignsystem.com/
@each $value in $ig-sizes {

    .slds-m-around--#{nth($value, 1)} {
        margin: #{nth($value, 2)};
    }

    .slds-m-top--#{nth($value, 1)},
    .slds-m-vertical--#{nth($value, 1)} {
        margin-top: #{nth($value, 2)};
    }

    .slds-m-bottom--#{nth($value, 1)},
    .slds-m-vertical--#{nth($value, 1)} {
        margin-bottom: #{nth($value, 2)};
    }

    .slds-m-right--#{nth($value, 1)},
    .slds-m-horizontal--#{nth($value, 1)} {
        margin-right: #{nth($value, 2)};
    }

    .slds-m-left--#{nth($value, 1)},
    .slds-m-horizontal--#{nth($value, 1)} {
        margin-left: #{nth($value, 2)};
    }

    .slds-p-around--#{nth($value, 1)} {
        padding: #{nth($value, 2)};
    }

    .slds-p-top--#{nth($value, 1)},
    .slds-p-vertical--#{nth($value, 1)} {
        padding-top: #{nth($value, 2)};
    }

    .slds-p-bottom--#{nth($value, 1)},
    .slds-p-vertical--#{nth($value, 1)} {
        padding-bottom: #{nth($value, 2)};
    }

    .slds-p-right--#{nth($value, 1)},
    .slds-p-horizontal--#{nth($value, 1)} {
        padding-right: #{nth($value, 2)};
    }

    .slds-p-left--#{nth($value, 1)},
    .slds-p-horizontal--#{nth($value, 1)} {
        padding-left: #{nth($value, 2)};
    }
}